lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.vscode
.yarn-cache
.DS_Store

pids
logs
results
dump

npm-debug.log
node_modules

userimages
.env
doc/
version.js

dev_run_migration.sh

development.json
userimages*

# exclude everything
dumps/*

# exception to the rule
!dumps/.gitkeep
