<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Dein senseBox Skript</title>
</head>
<body>
  <p>
    Hallo <%- user.firstname %> <%- user.lastname %>,
  </p>
  <p>
    vielen Dank für die Registrierung deiner Messstation! Im Anhang findest du ein Arduino-Skript, welches noch auf dein Sensorsetup angepasst werden muss. Lade es herunter und ergänze es mit den nötigen Erweiterungen, wie in unserem <a href="https://github.com/sensebox/OER/wiki" target="_blank"><b>Wiki</b></a> beschrieben.
  </p>
  <p>Um die Eigenschaften deiner senseBox nachträglich zu ändern, wirst du immer nach einem API-Key gefragt. Deiner lautet: <b><%= user.apikey %></b></p>
  <p>Außerdem wurden die folgenden IDs für die Sensoren deiner Station generiert:</p>
  <ul>
    <% _.forEach(box.sensors, function(sensor) { %>
      <li><%- sensor.title %> (<%- sensor.sensorType %>): <%- sensor._id %></li><% }); %>
  </ul>
  <p>Du findest deine Station auf der Webseite unter der Adresse <a href="http://opensensemap.org/#/explore/<%= box._id %>" target="_blank">opensensemap.org/#/explore/<%= box._id %></a>.</p>
  <p>
    Wenn Du Fragen hast schreib uns eine Mail an: <a href="mailto:support@sensebox.de?Subject=Hilfe%20bei%20der%20Einrichtung" target="_top">support@sensebox.de</a>
  </p>
  <p>
    Viel Spaß wünscht dein senseBox Team
  </p>
</body>
</html>
