name: Test and build

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Execute tests
        run: |
          yarn test logs
